UD06_Redis/Tickets/flows.json
[
    {
        "id": "2a17f879452585ca",
        "type": "tab",
        "label": "Client",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "237064df747e741a",
        "type": "group",
        "z": "2a17f879452585ca",
        "name": "Login",
        "style": {
            "label": true
        },
        "nodes": [
            "9c3a2aa8fe31a9b1",
            "7c9c8b79340b7ff7",
            "07ed25a4e8d4a771",
            "2b14fbd6333d7f19"
        ],
        "x": 234,
        "y": 99,
        "w": 712,
        "h": 142
    },
    {
        "id": "edde0ad3b0dce600",
        "type": "group",
        "z": "2a17f879452585ca",
        "name": "Tiket",
        "style": {
            "label": true
        },
        "nodes": [
            "b099751fb7d6bf1b",
            "b21576633d3e5237",
            "806bb1194cb4cc15",
            "a9af2d6ce60113e0"
        ],
        "x": 234,
        "y": 279,
        "w": 702,
        "h": 142
    },
    {
        "id": "dbe686e367503659",
        "type": "group",
        "z": "2a17f879452585ca",
        "name": "Logout",
        "style": {
            "label": true
        },
        "nodes": [
            "b8be48c940f147b0",
            "20cb8746108ed1a4",
            "e3cd6f2b94f3c655",
            "86cdf801091e14d7"
        ],
        "x": 234,
        "y": 439,
        "w": 732,
        "h": 142
    },
    {
        "id": "9393674da95906e6",
        "type": "group",
        "z": "2a17f879452585ca",
        "name": "Search",
        "style": {
            "label": true
        },
        "nodes": [
            "a0b294cbe213af0b",
            "049ec50d4cd4f264",
            "c097fca7ebbb99e7",
            "6a78322ae0d5b34b"
        ],
        "x": 234,
        "y": 639,
        "w": 732,
        "h": 142
    },
    {
        "id": "9c3a2aa8fe31a9b1",
        "type": "inject",
        "z": "2a17f879452585ca",
        "g": "237064df747e741a",
        "name": "usuario 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"user\":\"usuario1\"}",
        "payloadType": "json",
        "x": 340,
        "y": 140,
        "wires": [
            [
                "07ed25a4e8d4a771"
            ]
        ]
    },
    {
        "id": "7c9c8b79340b7ff7",
        "type": "inject",
        "z": "2a17f879452585ca",
        "g": "237064df747e741a",
        "name": "usuario 2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"user\":\"usuario2\"}",
        "payloadType": "json",
        "x": 340,
        "y": 200,
        "wires": [
            [
                "07ed25a4e8d4a771"
            ]
        ]
    },
    {
        "id": "b099751fb7d6bf1b",
        "type": "inject",
        "z": "2a17f879452585ca",
        "g": "edde0ad3b0dce600",
        "name": "usuario 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"user\":\"usuario1\", \"id\": \"12345678A\"}",
        "payloadType": "json",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "806bb1194cb4cc15"
            ]
        ]
    },
    {
        "id": "b21576633d3e5237",
        "type": "inject",
        "z": "2a17f879452585ca",
        "g": "edde0ad3b0dce600",
        "name": "usuario 2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"user\":\"usuario2\", \"id\": \"98765432B\"}",
        "payloadType": "json",
        "x": 340,
        "y": 380,
        "wires": [
            [
                "806bb1194cb4cc15"
            ]
        ]
    },
    {
        "id": "b8be48c940f147b0",
        "type": "inject",
        "z": "2a17f879452585ca",
        "g": "dbe686e367503659",
        "name": "usuario 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"user\":\"usuario1\"}",
        "payloadType": "json",
        "x": 340,
        "y": 480,
        "wires": [
            [
                "e3cd6f2b94f3c655"
            ]
        ]
    },
    {
        "id": "20cb8746108ed1a4",
        "type": "inject",
        "z": "2a17f879452585ca",
        "g": "dbe686e367503659",
        "name": "usuario 2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"user\":\"usuario2\"}",
        "payloadType": "json",
        "x": 340,
        "y": 540,
        "wires": [
            [
                "e3cd6f2b94f3c655"
            ]
        ]
    },
    {
        "id": "07ed25a4e8d4a771",
        "type": "http request",
        "z": "2a17f879452585ca",
        "g": "237064df747e741a",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://localhost:1880/user/login",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 160,
        "wires": [
            [
                "2b14fbd6333d7f19"
            ]
        ]
    },
    {
        "id": "806bb1194cb4cc15",
        "type": "http request",
        "z": "2a17f879452585ca",
        "g": "edde0ad3b0dce600",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/ticket/buy",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 360,
        "wires": [
            [
                "a9af2d6ce60113e0"
            ]
        ]
    },
    {
        "id": "e3cd6f2b94f3c655",
        "type": "http request",
        "z": "2a17f879452585ca",
        "g": "dbe686e367503659",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/user/logout",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 520,
        "wires": [
            [
                "86cdf801091e14d7"
            ]
        ]
    },
    {
        "id": "2b14fbd6333d7f19",
        "type": "debug",
        "z": "2a17f879452585ca",
        "g": "237064df747e741a",
        "name": "debug 39",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 160,
        "wires": []
    },
    {
        "id": "a9af2d6ce60113e0",
        "type": "debug",
        "z": "2a17f879452585ca",
        "g": "edde0ad3b0dce600",
        "name": "debug 40",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 360,
        "wires": []
    },
    {
        "id": "86cdf801091e14d7",
        "type": "debug",
        "z": "2a17f879452585ca",
        "g": "dbe686e367503659",
        "name": "debug 41",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 520,
        "wires": []
    },
    {
        "id": "a0b294cbe213af0b",
        "type": "inject",
        "z": "2a17f879452585ca",
        "g": "9393674da95906e6",
        "name": "usuario 1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"user\":\"usuario1\"}",
        "payloadType": "json",
        "x": 340,
        "y": 680,
        "wires": [
            [
                "c097fca7ebbb99e7"
            ]
        ]
    },
    {
        "id": "049ec50d4cd4f264",
        "type": "inject",
        "z": "2a17f879452585ca",
        "g": "9393674da95906e6",
        "name": "usuario 2",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"user\":\"usuario2\"}",
        "payloadType": "json",
        "x": 340,
        "y": 740,
        "wires": [
            [
                "c097fca7ebbb99e7"
            ]
        ]
    },
    {
        "id": "c097fca7ebbb99e7",
        "type": "http request",
        "z": "2a17f879452585ca",
        "g": "9393674da95906e6",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/ticket/search",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 720,
        "wires": [
            [
                "6a78322ae0d5b34b"
            ]
        ]
    },
    {
        "id": "6a78322ae0d5b34b",
        "type": "debug",
        "z": "2a17f879452585ca",
        "g": "9393674da95906e6",
        "name": "debug 48",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 720,
        "wires": []
    },
    {
        "id": "dee1ebe0412b6e43",
        "type": "tab",
        "label": "Server",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "53735a90433c6ce0",
        "type": "group",
        "z": "dee1ebe0412b6e43",
        "name": "Login",
        "style": {
            "label": true
        },
        "nodes": [
            "bc025da92280b328",
            "ee1813e6ea8fde55",
            "0c4d143fa0b146b1"
        ],
        "x": 194,
        "y": 79,
        "w": 1312,
        "h": 202
    },
    {
        "id": "edb31b1c488720b5",
        "type": "group",
        "z": "dee1ebe0412b6e43",
        "name": "Logout",
        "style": {
            "label": true
        },
        "nodes": [
            "6755c9a712f4d6db",
            "ab69c4109ffb613e"
        ],
        "x": 204,
        "y": 319,
        "w": 812,
        "h": 102
    },
    {
        "id": "3a2391177df7c93f",
        "type": "group",
        "z": "dee1ebe0412b6e43",
        "name": "Create Index",
        "style": {
            "label": true
        },
        "nodes": [
            "fb1598782a2c5b76",
            "9af4d2722b942641"
        ],
        "x": 194,
        "y": 459,
        "w": 822,
        "h": 82
    },
    {
        "id": "b77f2fa045527384",
        "type": "group",
        "z": "dee1ebe0412b6e43",
        "name": "Buy Ticket",
        "style": {
            "label": true
        },
        "nodes": [
            "7a03f9fe0ff65da6",
            "9d031763cd28b5c9"
        ],
        "x": 194,
        "y": 619,
        "w": 1152,
        "h": 82
    },
    {
        "id": "a04c7cc412cdde02",
        "type": "group",
        "z": "dee1ebe0412b6e43",
        "name": "Search",
        "style": {
            "label": true
        },
        "nodes": [
            "8d454c433ff70cf7",
            "dd89b0dfbe278306"
        ],
        "x": 194,
        "y": 719,
        "w": 1092,
        "h": 82
    },
    {
        "id": "bc025da92280b328",
        "type": "http in",
        "z": "dee1ebe0412b6e43",
        "g": "53735a90433c6ce0",
        "name": "",
        "url": "/user/login",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "6755c9a712f4d6db",
        "type": "http in",
        "z": "dee1ebe0412b6e43",
        "g": "edb31b1c488720b5",
        "name": "",
        "url": "/user/logout",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 320,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ee1813e6ea8fde55",
        "type": "http response",
        "z": "dee1ebe0412b6e43",
        "g": "53735a90433c6ce0",
        "name": "",
        "statusCode": "500",
        "headers": {},
        "x": 1080,
        "y": 240,
        "wires": []
    },
    {
        "id": "0c4d143fa0b146b1",
        "type": "http response",
        "z": "dee1ebe0412b6e43",
        "g": "53735a90433c6ce0",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1420,
        "y": 120,
        "wires": []
    },
    {
        "id": "ab69c4109ffb613e",
        "type": "http response",
        "z": "dee1ebe0412b6e43",
        "g": "edb31b1c488720b5",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 930,
        "y": 380,
        "wires": []
    },
    {
        "id": "fb1598782a2c5b76",
        "type": "inject",
        "z": "dee1ebe0412b6e43",
        "g": "3a2391177df7c93f",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 290,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "9af4d2722b942641",
        "type": "debug",
        "z": "dee1ebe0412b6e43",
        "g": "3a2391177df7c93f",
        "name": "debug 46",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 500,
        "wires": []
    },
    {
        "id": "7a03f9fe0ff65da6",
        "type": "http response",
        "z": "dee1ebe0412b6e43",
        "g": "b77f2fa045527384",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1260,
        "y": 660,
        "wires": []
    },
    {
        "id": "8d454c433ff70cf7",
        "type": "http response",
        "z": "dee1ebe0412b6e43",
        "g": "a04c7cc412cdde02",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 1200,
        "y": 760,
        "wires": []
    },
    {
        "id": "dd89b0dfbe278306",
        "type": "http in",
        "z": "dee1ebe0412b6e43",
        "g": "a04c7cc412cdde02",
        "name": "",
        "url": "/ticket/search",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "9d031763cd28b5c9",
        "type": "http in",
        "z": "dee1ebe0412b6e43",
        "g": "b77f2fa045527384",
        "name": "",
        "url": "/ticket/buy",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 660,
        "wires": [
            []
        ]
    }
]